.base {
  width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  background-color: white;
}

.header {
  margin: 10px 0;
  background-color: #7cfc00;
  font-weight: bold;
}

.sidebar {
  width: 200px;
}

.sidebar_list-item {
  margin-bottom: 20px;
}

.footer_list {
  float: right;
}

.footer_list-item {
  float: left;
  margin-left: 5px;
}

.top {
  margin-bottom: 20px;
}

.timeline_date {
  margin-right: 20px;
}